@charset "utf-8";
ul { list-style:none; }
.categories { line-height:1.7; font-size:14px; font-weight:bold; padding-left:0px }
categories-1 { line-height:1.7; font-size:14px; padding-left:0px }

.categories li,.categories-1 li { padding:5px; cursor:pointer; border-top:1px solid #ddd}
.categories li:hover, .categories-1 li:hover { background-color:#428BCA}
.categories li span, .categories-1 li span { display:block;float:right;margin-right:180px}
.categories li span a ,.categories-1 li span a { border:1px solid #ddd;font-weight: normal;color:#666;padding:1px 5px;border-radius:3px;-webkit-user-select: none; margin-left:5px;}


-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;font-size:12px;}
.table { margin-bottom:0px;}
